node_modules
.pnpm-store
dist
.next
.git
.gitignore
*.swp
*.log
.env
package-lock.json
deploy
.woodpecker
*.md
.prettierrc
.repomixignore
.pre-commit-config.yaml
components.json
eslint.config.mjs
next-env.d.ts
tsconfig.tsbuildinfo
